@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --brand-teal: #6daa7b;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    overflow: auto;
}

img {
    object-fit: cover;
    object-position: center;
}

.main-container {
    min-height: calc(100dvh - 50px);
    display: flex;
    flex-direction: column;

    & > *:not(header) {
        flex: 1;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

footer {
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.icon-container {
    width: 56px;
    height: 56px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    font-size: 28px;
}