@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-teal: #6daa7b;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-teal: var(--brand-teal);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}